:root{
    --firstColor: #3a6d93;
    --secondColor: whitesmoke;
    --thirdColor: #252525;
}

body{
    background: var(--firstColor);
    color: var(--secondColor);
    font-family: Rubik, serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
h1{
    font-size: xx-large;
    font-weight: normal;
    text-align: center;
}
.socialLinks{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    margin: 10px;
}
button{
    font-family: inherit;
    font-optical-sizing: inherit;
    font-size: medium;
    font-weight: inherit;
    color: var(--thirdColor);
    background-color: var(--secondColor);
    border: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 2px;
    @media (pointer: none), (pointer: coarse) {
        font-size: 35px;
    }
}
.centeredFlex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
canvas{
    margin: 0;
    padding: 0;
    border: 3px solid var(--thirdColor);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
}
.header h1 {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
